.svg--container {
  width: 100%;
}

.svg {
  margin-bottom: -5px;

  &--black {
    background-color: white;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5% 0;
}

.container {
  padding: 0 100px;

  @media (max-width: 1024px) {
    padding: 0 75px;
  }

  @media (max-width: 768px) {
    padding: 0 50px;
  }

  @media (max-width: 414px) {
    padding: 0 25px;
  }
}

// Mobile small
@media (max-width: 320px) {
}
// Mobile
@media (max-width: 375px) {
}
// Mobile large
@media (max-width: 414px) {
}
// Tablet and below
@media (max-width: 768px) {
}
// Tablet Large
@media (max-width: 1024px) {
}
// MacBook Pro 13 inch
@media (max-width: 1280px) {
}
// MacBook Pro 15 inch
@media (max-width: 1440px) {
}
// MacBook Pro 16 inch
@media (min-width: 1792px) {
}
