@import './default';
@import './config';
@import './removeDefaults';
@import './general';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primary-font;
}

ul {
  padding: 0;
  list-style: none;
}
